:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 1rem;
  line-height: 1.4em;
}

.results-list a {
  color: blue;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

.results-list a:hover {
  text-decoration-color: blue;
}

.results-list a:active {
  color: darkblue;
  text-decoration-color: darkblue;
  transition: all 0s ease-in;
}

th,
td {
  padding: 0.25rem 1rem;
}

.filters {
  padding: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.col {
  max-width: 40rem;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

table {
  max-width: 100vw;
  border-collapse: collapse;
}

select {
  padding: 0.25rem 0.5rem;
}

input {
  margin: 0.5rem;
}

.drink-name {
  max-width: 50ch;
}

.searchbox {
  padding: 0.25rem 0.5rem;
  margin: 1rem auto;
}

.results-list {
  border-collapse: collapse;
  position: relative;
}

.results-list th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  text-transform: uppercase;
}

.card {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in;
  display: block;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card a {
  color: black;
  text-decoration: none;
}

.card img {
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.center-aligned {
  align-items: center;
}

.badge-row {
  min-height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

.badge-label {
  color: darkgray;
}

.badge-number {
  font-size: larger;
  font-weight: bolder;
}

.fill-width {
  width: 100%;
}

.load-button-container {
  text-align: center;
}

.load-button {
  padding: 0.5rem;
}

.fill {
  width: 100%;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-gap: 1rem;
}

.vert-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.locked-drinks-container {
  padding: 0.5rem;
  max-height: 100%;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background: whitesmoke;
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
}

.locked-drinks {
  width: 100%;
}

.locked-drinks-title-line a {
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: blue;
}

.locked-drinks-title-line .close-button {
  cursor: pointer;
}
